html {
    display: table;
    margin: auto;
	
}

body{
	background-color:rgb(0,156,232);
	font-family:monospace;
	display:table-cell;
	margin:0 auto;
	font-family:Helvetica;
	color:white;
}
.header{
	display:flex;
	justify-content:center;
}

a {
	color:white;
	text-decoration:none;
	font-size:18px;
	
}

a:hover{
	color:orange;
}



.home{
	font-size:20px;
	color:yellow;
	font-family:"Lucida Handwriting";
	text-align:center;
}

h2{
	text-align:center;
	color:white;
	text-decoration:underline;
	
}
p{
	text-align:center;
	color:white;
}

label{
	color:white;
}
.contact{
	display:flex;
	justify-content:center;
}

#btn1{
	
	color:white;
	background-color:#17BEBB;
	border-radius:30px ;
	border-color:#FFC914;
	padding:7.5px;
}
#btn1:hover{
	color:#E3E7AF;
	cursor:pointer;
}
#purchase{
	text-align:center;
	color:white;
	background-color:#06BA63;
	border-radius:30px ;
	border-color:white;
	padding:7.5px;
	display:inline-block;
}
#purchase:hover{
	color:orange;
	cursor:pointer;
}
#btn1:hover{
	color:#E3E7AF;
	cursor:pointer;
}
.images{
	border-radius:20px;
}
.buttons{
	color:white;
	background-color:#57CC99;
	border-radius:20px 5px;
	border-color:#E7ECEF;
	padding:7.5px;
}
.buttons:hover{
	color:#E1BB80;
	cursor:pointer;
}

.centered{
	text-align:center;
}

.Phones{

	text-align:center;
}
.Desktops{
	
	text-align:center;
}
.Laptops{

	text-align:center;
}

.navTable{
	border-spacing:25px;
	text-align:center;
}
table{
	border-spacing:50px;
	display:inline-block;
}
.contact{
	border-spacing:2.5px;
}

.photoLogo:hover{
	border:3px solid orange;
	border-radius:10000000px;
}
.cart{
	text-align:center;
}

.footer{
	border-top:5px solid white;
	font-size:8px;
}
.copyright{
	font-size:8px;
	text-align:right;
}
.fbuttons{
	color:white;
	background-color:#57CC99;
	border-radius:50px;
	border-color:#E7ECEF;
	padding:7.5px;
}
.fbuttons:hover{
	color:yellow;
	background-color:#57CC99;
	border-color:#E7ECEF;
	cursor:pointer;
}
