html {
    display: table;
    margin: auto;
	
}

body{
	background-color:rgb(0,156,232);
	font-family:monospace;
	display:table-cell;
	margin:0 auto;
	font-family:Helvetica;
	color:white;
}
.header{
	display:flex;
	justify-content:center;
}

a {
	color:white;
	text-decoration:none;
	font-size:18px;
	
}

a:hover{
	color:orange;
}



.home{
	font-size:20;
	color:yellow;
	font-family:"Lucida Handwriting";
	text-align:center;
}

h2{
	text-align:center;
	color:white;
	text-decoration:underline;
	
}
p{
	text-align:center;
	color:white;
}

label{
	color:white;
}
.contact{
	display:flex;
	justify-content:center;
}

#btn1{
	
	color:white;
	background-color:#17BEBB;
	border-radius:30px 5px;
	border-color:#FFC914;
	padding:7.5px;
}
#btn1:hover{
	color:#E3E7AF;
}
.images{
	border-radius:20px;
}
.buttons{
	color:white;
	background-color:#17BEBB;
	border-radius:30px 5px;
	border-color:#FFC914;
	padding:7.5px;
}

.centered{
	text-align:center;
}